#webGL {
    height: calc(100% - 40px);
    width: 100%;
    border: 0;
}

#map_title {
    height: 25px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
}

#metro {
    height: calc(100% - 69px);
    width: 100%;
    z-index: 0;
}

#label {
    position: absolute;
    padding: 10px;
    z-index: 999999;
    background: #ffffff;
    line-height: 1;
    border-radius: 5px;
    display: none;
    text-align: center;
    pointer-events: none;
}

#right_box {
    height: 100%;
    width: 100%;
    float: right;
    position: absolute;
    background-color: rgba(48, 63, 148, 0.302);
    border: 2px solid rgb(82, 108, 254);
    border-radius: 1%;
    transform-style: preserve-3d;
    transform: rotateY(-7deg);
}

#left_box {
    height: 100%;
    width: 100%;
    float: left;
    position: absolute;
    background-color: rgba(48, 63, 148, 0.302);
    border: 2px solid rgb(82, 108, 254);
    border-radius: 1%;
    transform-style: preserve-3d;
    transform: rotateY(7deg);
}

#bottom_text {
    height: 20%;
    width: 30%;
    left: 35%;
    bottom: 40px;
    position: absolute;
    background-color: rgba(48, 63, 148, 0.302);
    border: 2px solid rgb(82, 108, 254);
    border-radius: 1%;
}

.box_content {
    padding: 2px 5px;
    border-radius: 3%;
}

.myspan{
    color: white;
    position: relative;
    left: 6%;
    top: 5%;
}

.highChart {
    /*透明度 */
    opacity: 0.5;
    /*设置透明度 子元素不继承透明度*/
    margin: 0px;
    right: 0px;
    top: 0px;
    z-index: 100;
    position: fixed;
    height: 500px;
}