#webGL {
    height: calc(100% - 40px);
    width: 100%;
    border: 0;
}
#map_title{
    height: 25px;
    width: 877;
    margin-left: 230px;
    background-color: rgba(25, 181, 254, 0.8);
    text-align:center ;
    color: white;
}
#metro {
    height: calc(100% - 69px);
    width: 873;
    margin-left: 230px;
    border: 2px solid rgba(25, 181, 254, 0.8);
    background-color: hsla(201, 98%, 41%, 0.302);
}

#label {
    position: absolute;
    padding: 10px;
    z-index: 999999;
    background: #ffffff;
    line-height: 1;
    border-radius: 5px;
    display: none;
    text-align: center;
    pointer-events: none;
}

#xml {
    top: 130px;
    right: 260px;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
}

.highChart {
    /*透明度 */
    opacity: 0.5;
    /*设置透明度 子元素不继承透明度*/
    margin: 0px;
    right: 0px;
    top: 0px;
    z-index: 100;
    position: fixed;
    height: 500px;
}

.bubble {
    width: 100px;
    height: 25px;
    border: 2px solid #ecec27;
    border-radius: 7px;
    /*圆角弧度为7px*/
    position: absolute;
    z-index: 100;
}

.bubble::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 30 1;
    border-style: solid;
    position: absolute;
    top: 25px;
    left: 50px;
    border-color: #ecec27;
}